.bug__present {
	background: linear-gradient(102deg, #fff6df 17.38%, #ffdfde 81.25%);
	border-radius: 60px;
	max-width: 1110px;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 101px;
	padding: 76px 125px;
}

.bug__info {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 24px;
	max-width: 475px;
	width: 100%;
}
