.game {
	display: flex;
	flex-direction: column;
	gap: 70px;
	max-width: 720px;
	width: 100%;
}

.centr__title {
	text-align: center;
	font-weight: 700;
	font-size: 40px;
	line-height: 140%;
	color: #000000;
}

.game__item {
	display: flex;
	flex-direction: column;
	gap: 41px;
}

.game__elements {
	display: flex;
	gap: 34px;
}

.game__info {
	display: flex;
	flex-direction: column;
	gap: 11px;
}

.game__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 140%;
	color: #000000;
}

.game__text {
	font-weight: 500;
	font-size: 18px;
	line-height: 136.7%;
	color: #000000;
}
