.header {
   display: flex;
   flex-direction: column;
   max-width: 1110px;
   width: 100%;
  }

  .header_logo {
   display: flex;
	align-items: center;
   position: absolute;
top: 0;
   margin-bottom: 82px;
  }